<div class="container p-5">
    <div class="card p-5">
        <div class="card-body row justify-content-md-center">
            <img src="assets/uagrm.png" alt="UnivSys" class="col-md-2 col-sm-2 rounded mx-auto d-block">
            <h1 class="text-center">Iniciar Sesión - UnivSys</h1>
            <p class="text-center">Ingresa tus datos para iniciar sesión</p>
            <label>Correo *</label>
            <input type="email" class="form-control">
            <label>Contraseña *</label>
            <input type="password" class="form-control">
            <button class="mt-2 btn btn-primary">
                Iniciar Sesión
            </button>
        </div>
    </div>
</div>