<div class="card p-3">
    <h2>Usuarios</h2>
    <div class="text-end">
        <button (click)="exportarExcel()"
            class="m-2 btn btn-secondary" routerLink="create">
            Exportar Excel
        </button>
        <button class="btn btn-primary" routerLink="create">
            Crear
        </button>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover" id="tabla-usuarios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(usuario of usuarios; track usuario.id){
                    <tr>
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.rol}}</td>
                        <td>
                            <!-- TODO: Agregar botones de editar y eliminar -->
                            <button class="btn btn-info m-1">
                                Ver
                            </button>
                            <button class="btn btn-warning m-1">
                                Editar
                            </button>
                            <button class="btn btn-danger">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>