<div class="card p-3">
    <h2>Grupos</h2>
    <div class="text-end">
        <button (click)="exportarExcel()"
            class="m-2 btn btn-secondary">
            Exportar Excel
        </button>
        <button class="btn btn-primary" routerLink="create">
            Crear
        </button>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover" id="tabla-grupos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Periodo</th>
                    <th>Materia</th>
                    <th>Docente</th>
                    <th>Horario</th>
                    <!-- <th>Acciones</th> -->
                </tr>
            </thead>
            <tbody>
                @for(grupo of grupos; track grupo.id){
                    <tr>
                        <td>{{grupo.id}}</td>
                        <td>{{grupo.nombre}}</td>
                        <td>{{grupo.periodo}}</td>
                        <td>{{grupo.materia.name}}</td>
                        <td>{{grupo.user.username}}</td>
                        <td>
                            @for(horario of grupo.horarios; track horario.id){
                                <small> {{horario.dia}} {{horario.inicio}}-{{ horario.fin }}</small>
                                <small> {{ horario.aula.modulo.numero }}-{{ horario.aula.numero }}</small>
                                <br>
                            }
                        </td>
                        <!-- <td>
                            <button class="btn btn-info" [routerLink]="['/administrativo/modulos']" routerLinkActive="activado">
                                Asignar horario
                            </button>
                        </td> -->
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>