<div class="container p-5">
    <div class="card p-5">
        <div class="card-body row justify-content-md-center">
            <img src="assets/uagrm.png" alt="UnivSys" class="col-md-2 col-sm-2 rounded mx-auto d-block">
            <h1 class="text-center">Perfil de usuario</h1>
            <p class="text-center"></p>
            <p>Nombre: {{ user.username }}</p>
            <p>Correo: {{ user.email }}</p>
            <p>Rol: {{ user.rol }}</p>

            @if (user.id === usuarioLocal.id) {
                <button class="btn btn-info m-1" (click)="volverAInicio()" >
                    Volver a inicio
                </button>
    
                <button class="btn btn-primary m-1" (click)="logout()">
                    Cerrar sesión
                </button>
            }


        </div>
    </div>
</div>