<div class="card p-3">
    <h2>Facultades</h2>
    <div class="text-end">
        <button class="btn btn-primary" routerLink="create">
            Crear
        </button>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(facultad of facultades; track facultad.id){
                    <tr>
                        <td>{{facultad.id}}</td>
                        <td>{{facultad.name}}</td>
                        <td>
                            <!-- TODO: Agregar botones de editar y eliminar -->
                            <button class="btn btn-warning m-1">
                                Editar
                            </button>
                            <button class="btn btn-danger">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>