<div class="card p-3">
    <h2>Aulas del módulo {{ nroModulo }}</h2>
    <div class="text-end">
        <button class="btn btn-primary" routerLink="create">
            Crear
        </button>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Número</th>
                    <th>Capacidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(aula of aulas; track aula.id){
                    <tr>
                        <!-- <td>{{aula.id}}</td> -->
                        <td>{{aula.numero}}</td>
                        <td>{{aula.capacidad}}</td>
                        <td>
                            <button [routerLink]="['/administrativo/aula', aula.id]" class="btn btn-info m-1">
                                Ver programación
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>