<div class="card p-3">
    <h2>Materias de la carrera {{ carrera.name }} {{ carrera.sigla }}</h2>
    <div class="text-end">
        <!-- <button class="btn btn-primary" routerLink="create">
            Crear
        </button> -->
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Nivel</th>
                    <th>Sigla</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(materia of materias; track materia.id){
                    <tr>
                        <td>{{materia.materia.name}}</td>
                        <td>{{ materia.nivel }}</td>
                        <td>{{materia.materia.sigla}}</td>
                        <td>
                            <button class="btn btn-info m-1">
                                Ver
                            </button>
                            <button class="btn btn-danger">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>